<section id="datos">
    <div>
        <h7>➤ DIRECCIÓN<br></h7>            
        <h8><a style="text-decoration:none" href="https://www.google.com.ec/maps/place/Salcedo/@-1.0396958,-78.6086371,14z/data=!3m1!4b1!4m5!3m4!1s0x91d47cb7ba4c6933:0xb15e57fcb89abbed!8m2!3d-1.0421893!4d-78.5907367?hl=es" target="_blank">Salcedo - Ecuador</a><br></h8>
        <h8>✉ CORREO ELECTRÓNICO <br></h8>
        <p1><a style="text-decoration:none" href="mailto:erickalejandrofernandez@gmail.com" target="_blank">erickalejandrofernandez@gmail.com</a><br></p1>
        <h7>☏ TELÉFONO <br></h7>
        <p1><a style="text-decoration:none" href="tel:+5930999955952">0995946033</a><br></p1>          

    </div>
</section>