<section id="Contenedor" >       
    <div class="image">
        <img style="border: 8px solid; color: #3d6b6b;" src="assets/img/logo.png" width="200" height="200" >
    </div>          
    <div>
        <h2 class="tcontent">Acerca de FDX</h2>
        <p>Somos una empresa desarrolladora de todo tipo de software. Contáctanos, te ayudamos en lo que necesites.</p>
        <button id="mas">Mas información</button>            
    </div>
</section>